@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-indigo-50 text-slate-900 transition-colors duration-300;
  }
  html.dark body {
    @apply bg-slate-950 text-slate-50;
  }
}

.section {
  @apply py-20;
}

.section-title {
  @apply text-4xl text-center mb-16 relative font-bold;
}

.section-title::after {
  content: '';
  @apply absolute -bottom-3 left-1/2 -translate-x-1/2 w-16 h-1 rounded-sm bg-indigo-600 dark:bg-cyan-400;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-indigo-50 dark:bg-slate-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-indigo-200 dark:bg-slate-800 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-indigo-400 dark:bg-slate-700;
}
